/.bundle/
/.yardoc
#/Gemfile.lock
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/config/*
!/config/schema.sql
!/config/message.yml
logfile.log
#/lib/projects/*
#!/lib/projects/
*.log
.DS_Store
/log/*
