<!DOCTYPE html>
<html ng-app="media_insights">

  <head>
	<title>Media Insights</title>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.3/angular.min.js"></script>
	<script src="/js/tools.js"></script>
    <script src="/js/app.js"></script>
  </head>

  <body>
	
    
  </body>

</html>