<!DOCTYPE html>
<html ng-app="myApp">

  <head>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.3/angular.min.js"></script>
    <script src="/app.js"></script>
  </head>

  <body ng-controller="MyCtrl">
    
  </body>

</html>